In [2]:
import pandas as pd
df = pd.read_csv('finantialStatements(ms&tesla).csv')

In [3]:
df.head(7)

,CompanyName,Total_Revenue,Years,Net_Income,Total_assets,Total_Libilities,Cash_flow_opera
0,Microsoft,245122,2024,88136,512163,243686,118548
1,Microsoft,211915,2023,72316,411976,205753,87582
2,Microsoft,198270,2022,72738,364840,198298,89035
3,Tesla,"97,690",2024,"7,153","122,070","48,390","14,923"
4,Tesla,"96,773",2023,"14,974","106,618","43,009","13,256"
5,Tesla,"81,462",2022,"12,587","82,338","36,440","14,724"

In [4]:
cols=['Total_Revenue', 'Net_Income', 'Total_assets', 'Total_Libilities', 'Cash_flow_opera']
for numCol in cols:
    df[numCol] = df[numCol].astype(str).str.replace(",","")
    df[numCol] = pd.to_numeric(df[numCol],errors='coerce')

In [5]:
def AiChatboat(Query):
    Query = Query.lower()

    if "total revenue" in Query:
        if 'tesla' in Query and '2024' in Query:
            value = df[(df['CompanyName'] == 'Tesla') & (df['Years'] == 2024)]['Total_Revenue'].values
            return f"The Tesla's Total Revenue in 2024 was: ${value[0]:,.0f} Million" if len(value) else 'Data not found.'
        elif 'microsoft' in Query and '2024' in Query:
            value = df[(df['CompanyName'] == 'Microsoft') & (df['Years'] == 2024)]['Total_Revenue'].values
            return f"The Microsoft's Total Revenue in 2024 was: ${value[0]:,.0f} Million" if len(value) else 'Data not found.'

    elif "net income" in Query:
        if "tesla" in Query and "change" in Query and "2023" in Query and "2024" in Query:
            val_23 = df[(df['CompanyName'] == 'Tesla') & (df['Years'] == 2023)]['Net_Income'].values
            val_24 = df[(df['CompanyName'] == 'Tesla') & (df['Years'] == 2024)]['Net_Income'].values
            if len(val_23) and len(val_24):
                change = val_24[0] - val_23[0]
                return f"Tesla's net income changed by ${change:,.0f} million from 2023 to 2024."
            else:
                return "Net income data for Tesla in 2023 or 2024 is missing."

        elif "tesla" in Query and "2023" in Query:
            val = df[(df['CompanyName'] == 'Tesla') & (df['Years'] == 2023)]['Net_Income'].values
            return f"The net income of Tesla in 2023 was ${val[0]:,.0f} Million" if len(val) else "Data not found."

        elif "tesla" in Query and "2024" in Query:
            val = df[(df['CompanyName'] == 'Tesla') & (df['Years'] == 2024)]['Net_Income'].values
            return f"The net income of Tesla in 2024 was ${val[0]:,.0f} Million" if len(val) else "Data not found."

        elif "microsoft" in Query and "change" in Query and "2023" in Query and "2024" in Query:
            val_23 = df[(df['CompanyName'] == 'Microsoft') & (df['Years'] == 2023)]['Net_Income'].values
            val_24 = df[(df['CompanyName'] == 'Microsoft') & (df['Years'] == 2024)]['Net_Income'].values
            if len(val_23) and len(val_24):
                change = val_24[0] - val_23[0]
                return f"Microsoft's net income changed by ${change:,.0f} million from 2023 to 2024."
            else:
                return "Net income data for Microsoft in 2023 or 2024 is missing."

        elif "microsoft" in Query and "2023" in Query:
            val = df[(df['CompanyName'] == 'Microsoft') & (df['Years'] == 2023)]['Net_Income'].values
            return f"The net income of Microsoft in 2023 was ${val[0]:,.0f} Million" if len(val) else "Data not found."

        elif "microsoft" in Query and "2024" in Query:
            val = df[(df['CompanyName'] == 'Microsoft') & (df['Years'] == 2024)]['Net_Income'].values
            return f"The net income of Microsoft in 2024 was ${val[0]:,.0f} Million" if len(val) else "Data not found."

    return "Sorry, I can only answer a few predefined financial questions."

In [9]:
while True:
    Question = input("Ask the question for Finantial statements about Microsoft and Tesla or write (exit) for stop response : ")
    print('\n')
    if Question.lower() == 'exit':
        break
    print(AiChatboat(Question))

# print(AiChatboat("What is Tesla total revenue in 2024?"))

Ask the question for Finantial statements about Microsoft and Tesla or write (exit) for stop response :  what is the net income of microsoft in 2023 and change in 2024

Microsoft's net income changed by $15,820 million from 2023 to 2024.

Ask the question for Finantial statements about Microsoft and Tesla or write (exit) for stop response :  exit